<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Supermarket App' }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="container">
    <p style="text-align: center;">
      <% if (user) { %>
        <% if (user.role === "admin") { %>
          <br>
          Back to <a href="/inventory">inventory!</a>
        <% } else { %>
          <br>
          Continue <a href="/shopping">Shopping!</a>
        <% } %>
      <% } else { %>
        <br>
      <% } %>
    </p>
  </div>

  <%- include('partials/footer') %>